<div class="col-md-6 offset-md-3">
    <h3> Withdraw Amount</h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> AccountId to Withdraw</label>
            <input type="text" class ="form-control" id = "accountid"
                [(ngModel)] = "withdraw.withdrawAccountId" name = "accountid">
        </div>
    
        <div class="form-group">
            <label> Amount </label>
            <input type="text" class ="form-control" id = "amount"
                [(ngModel)] = "withdraw.amountToWithdraw" name = "amount">
        </div>

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
