<div class="col-md-6 offset-md-3">
    <h3> Deposit Amount</h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> AccountId to deposit</label>
            <input type="text" class ="form-control" id = "accountid"
                [(ngModel)] = "deposit.depositaccountId" name = "accountid">
        </div>
    
        <div class="form-group">
            <label> Amount </label>
            <input type="text" class ="form-control" id = "amount"
                [(ngModel)] = "deposit.amountToDeposit" name = "amount">
        </div>

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 