<table class = "table table-striped">
    <thead>
        <tr>
            <th> Account Id</th>
            <th> Account HolderName </th>
            <th>Mobile Number</th>
            <th> Email</th>
            <th> Address</th>
            <th> Bank Name</th>
            <th> Amount</th>
             <th> Account Type</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let account of accounts" >
            <td> {{ account.accountId}} </td>
            <td> {{ account.acoountHolderName}} </td>
            <td> {{ account.mobileNum}} </td>
           <td> {{ account.email}} </td>
            <td> {{ account.address}} </td>
           <td> {{ account.bankName}} </td>
           <td> {{ account.amount}} </td>
          <td> {{ account.accountType}} </td>
            <td>
                <button (click) = "updateAccount(account.accountId)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteAccount(account.accountId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "customerDetails(account.accountId)" class = "btn btn-info" style="margin-left: 10px"> View</button>
                
            </td>
        </tr>
    </tbody>

</table>